@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* -------------------------- global css properties -------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Playfair Display", system-ui;
  font-weight: 700;
}

p, a{
  font-family: "Poppins", sans-serif;
}


/* -------------------------- navbar css properties -------------------------- */
.navbar{
  padding: .5vw 4vw;
}

.navbar-brand{
  font-weight: 700;
}

.nav-link{
  color: #f8f9fa;
  text-decoration: none;
  transition: color 0.3s easy, background-color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover{
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
  text-decoration: underline;
}
